[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto
[user]
	name = Christian Brandt
	email = j.christian.brandt@gmail.com
[core]
	editor = vi
	autocrlf = input
[alias]
	co = checkout
	ci = commit
	br = branch
	st = status
	us = reset HEAD --
	rv = checkout --
  mom = merge origin/master
  rom = rebase origin/master
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  lg = log --graph --oneline --decorate --all
	s = status -s
[push]
	default = simple
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[pull]
	rebase = true
[rerere]
  enabled = true
